body, html, div, p, ul, li, input { margin: 0; padding: 0; }
body, html {
	height: 100%;
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
}

.section {
	height: auto;
	text-align: center;
	line-height: 40px;
	display: none;
}
.section a {
	color: #000;
	text-decoration: none;
}

#address {
	line-height: 1.3rem;
}
.title {
	font-size: .8rem;
	color: #fff!important;
}

#rList {
	height: auto;
}

.location img {
	width: 0.6rem;
	position: absolute;
	top: 0.7rem;
	left: 0.6rem;
}

#search {
	background: #f60;
}

::-webkit-input-placeholder {
    color: #aaa;  
}  
:-moz-placeholder { 
    color: #aaa;  
    opacity: 1;  
}  
::-moz-placeholder { 
    color: #aaa;  
    opacity: 1;  
}  
:-ms-input-placeholder {  
    color: #aaa; 
}

.header input {
	width: 14.6rem;
	height: 1.1rem;
	box-sizing: border-box;
	border: 0;
	border-radius: 1rem;
	outline: none;
	padding-left: 0.6rem;
	font-size: 15px;
}
#btn {
	width: 3.6rem;
	height: 0.84rem;
	background: #00caca;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 1rem;
	right: 0.8rem;
}
.header {
	width: 16rem;
	height: 3.8rem;
	background: #0096ff;
	position: relative;
}
.content {
	width: 16rem;
	font-size: 14px;
	line-height: 20px;
    text-align: left;
    background: #fff;
}
.content div {
	background: #eee;
	font-weight: bold;
	font-size: 16px;
	box-sizing: border-box;
	padding-left: 0.7rem;
	padding-top: 0.4rem;
}
.content p {
	background: #f5f5f5;
	border-bottom: 0.021333rem dotted #aaa;
	font-size: 13px;
	color: #666;
	box-sizing: border-box;
	padding-left: 0.7rem;
	font-weight: 400;
	padding-bottom: 0.3rem;
}
.content p:last-child {
	border: 0;
}

.list-header {
	width: 16rem;
	height: 5.4rem;
	background: #0096ff;
}
.location-box {
	width: 100%;
	height: 2.218667rem;
}

.search-box {
	width: 16rem;
	height: 1.536rem;
	position: relative;
}
#search-food {
	width: 14rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 1rem;
	border: 0;
	outline: none;
	text-align: center;
	border-radius: 0.768rem 0.768rem 0.768rem 0.768rem;
}
.list-header ul {
	display: flex;
	font-size: 13px;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

#nav {
	width: 16rem;
	height: 8.064rem;
	background: #f4f4f4;
}

.list-title {
	width: 16rem;
	height: 1.450667rem;
	box-sizing: border-box;
	padding-left: 0.64rem;
	font-size: 13px;
	color: #333;
	line-height: 1.450667rem;
	text-align: left;
	border: 0.021333rem solid #eee;
}

#lists li {
	width: 16rem;
	display: flex;
	box-sizing: border-box;
	padding: 0.32rem 0.426667rem;
	border-bottom: 0.021333rem solid #eee;
}

#lists:after {
	content: "正在加载更多商家";
	display: block;
	height: 0.8rem;
	font-size: 16px;
	line-height: 0.8rem;
	color: #f60;
	text-align: center;
}

.noData #lists:after {
	content: "没有更多商家了";
}

.left-img {
	width: 2.56rem;
	height: 2.56rem;
	margin-right: 0.426667rem;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.left-img img {
	width: 100%;
}

.right-price {
	width: 12.16rem;
	height: 2.56rem;
}
.right-price>div {
	display: flex;
	justify-content: space-between;
}

.right-title div {
	font-size: 0.64rem;
	color: #333;
	line-height: 0.6rem;
	display: flex;
}
.right-title .brand {
	display: inline-block;
	margin-top: 0.08rem;
	margin-right: 0.426667rem;
	width: 1.194667rem;
	height: 0.597333rem;
	background: #ffd930;
	color: #52250a;
	border-radius: 0.021333rem;
	text-align: center;
	line-height: 0.597333rem;
	font-size: 0.426667rem;
}
.item-name {
	margin-right: 0.341333rem;
	display: block;
	width: 180px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-name {
	color: #333;
}

.right-title p {
	font-size: 0.341333rem;
	color: #999;
	display: flex;
}
.right-title p span {
	display: block;
	margin: 0 0.170667rem;
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	border: 0.021333rem solid #ddd;
}
.score {
	margin: 0 0.06rem;
	color: #f60;
}

.right-info, .right-num {
	font-size: 0.426667rem;
	line-height: 1.3rem;
}

.right-num {
	line-height: 0.6rem;
}
.timeout {
	margin-left: 0.3rem;
	color: #2395ff;
}

/* 轮播图样式 */
.swipe{
    overflow: hidden;
    visibility: hidden;
    position:relative;
}
.swipe-wrap{
    overflow-x:hidden;
    position:relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    height: 8.1rem;
    position:relative;
}

/* 小数点布局 */
#position{
   position: absolute;
   bottom: 0rem;
   left: 0;
   margin-top: 0.426667rem;
   margin-bottom: 0.213333rem;
   margin: 0;
   opacity: 0.4;
   width: 100%;
   filter: alpha(opacity=50);
   text-align: center;
}
 
#position li{
      width: 0.213333rem;
      height: 0.213333rem;
      margin: 0 0.170667rem;
      display: inline-block;
      -webkit-border-radius: 0.213333rem;
      border-radius: 0.213333rem;
      background-color: #0096ff;
}
#position li.cur{
    background-color: orange;
}

/* detail */
#detail {
	position: relative;
	line-height: 20px;
	font-size: 12px;
}
.detail-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.detail-header {
	width: 16rem;
	height: 5.589333rem;
	background: #bab3c2;
}
.detail-reviews {
	width: 16rem;
	height: 1.92rem;
	display: flex;
	border-bottom: 0.021333rem solid #ddd;
}
.detail-reviews div {
	width: 50%;
	height: 100%;
	line-height: 1.92rem;
}

.back {
	width: 16rem;
	height: 1.536rem;
	line-height: 1.536rem;
	box-sizing: border-box;
	padding-left: 0.682667rem;
	text-align: left;
	font-weight: bold;
}
.detail-header a {
	font-family: "宋体";
	color: #fff;
	font-size: 0.768rem;
}
#header_detail {
	display: block;
	position: absolute;
	font-size: 0.512rem;
}
.detail-header-info {
	display: flex;
	width: 16rem;
	height: 2.773333rem;
	box-sizing: border-box;
	padding: 0 0.426667rem;	
	color: #fff;
	font-size: 0.426667rem;
}
.header-img {
	width: 2.773333rem;
	height: 2.773333rem;
	border-radius: 0.16rem;
	margin-right: 0.426667rem;
	background: #fff;
}
.header-img img {
	width: 100%;
}
.header-info {
	width: 11.946667rem;
	height: 2.773333rem;
	position: relative;
}
.detail-active {
	display: flex;
	justify-content: space-between;
	width: 16rem;
	height: 1.28rem;
	box-sizing: border-box;
	padding: 0 0.426667rem;
	font-size: 12px;
	color: #fff;
	line-height: 1.28rem;
}
.news {
	width: 13rem;
	text-align: left;
}
.header-name {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.768rem;
	font-weight: bold;
	text-align: left;
}
#header_detail {
	font-size: 0.512rem;
	display: block;
	position: absolute;
	top: 1.109333rem;
	right: 0.426667rem;
}
.notice {
	display: flex;
}
.notice-info {
	width: 11rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ways {
	text-align: left;
}

.detail-content {
	display: flex;
	width: 16rem;
	flex: 1;
    height: 18.858667rem;
    overflow: hidden;
}
.left-pane {
	width: 3.4rem;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.right-pane {	
	box-sizing: border-box;
	height: 100%;
	flex: 1;
	overflow: hidden;
	position: relative;
}
.detail-catalog li {
	width: 100%;
	height: 2.176rem;
	line-height: 2.176rem;
	text-align: left;
	box-sizing: border-box;
	padding: 0 0.4rem;
	border-bottom: 0.021333rem solid #ededed;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	background: #f8f8f8;
}
.active {
	background: #fff!important;
}
.active:before {
	content: "";
	display: block;
	width: 0.18rem;
	height: 100%;
	background: #3190e8;
	position: absolute;
	top: 0;
	left: 0;
}
#nav_title {
	width: 100%;
	height: 1.322667rem;
	line-height: 1.322667rem;
	text-align: left;
	background: #f1f1f1;
	box-sizing: border-box;
	padding-left: 0.426667rem;
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.nav-info {
	font-size: 9px;
	color: #999;
}
.food-info {
	width: 11.96rem;
	margin-left: 0.64rem;
	padding-top: 0.725333rem;
	display: flex;
	border-bottom: 0.021333rem solid #e0e0e0;
}
.detail-info li .food-info:last-child {
	border-bottom: 0;
}
.food-img {
	width: 2.048rem;
	height: 2.048rem;
	margin-right: 0.597333rem;
}
.food-img img {
	width: 2.048rem;
}
.food-detail {
	width: 10rem;
	text-align: left;
	color: #666;
}
.food-name {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
	color: #333;
	font-weight: bold;
}
.des {
	color: #999;	
	padding-right: 0.8rem;
	box-sizing: border-box;
}
.food-price {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: #666;
	position: relative;
}
.price-item {
	color: #f60;
	font-size: 9px;
}
.price-item span {
	font-size: 16px;
	font-weight: bold;
}
.price-item span {
	font-size: 16px;
	font-weight: bold;
	margin-right: 0.170667rem;
}
.minus, .plus {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: #3199e8;
	border-radius: 0.4rem;
	text-align: center;
	color: #fff;
	line-height: 0.8rem;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.num {
	display: block;
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
    bottom: 0.5rem;
    right: 1.8rem;
    text-align: center;
}
.food-price .minus {
	position: absolute;
	bottom: 0.5rem;
	right: 2.8rem;
}
.food-price .plus {
	position: absolute;
	bottom: 0.5rem;
	right: 0.8rem;
}

.footer {
	width: 16rem;
	height: 2.048rem;
	color: #fff;
	background: #3d3d3f;
	display: flex;
	font-size: 13px;
}
.left-cart {
	flex: 6;
	height: 100%;
	position: relative;
	z-index: 11;
}
.cart {
	width: 1.962667rem;
	height: 1.962667rem;
	border-radius: 50%;
	background: #3f3f3f;
	border: 0.213333rem solid #4d4d4d;
	position: absolute;
	left: 0.512rem;
	bottom: 0.213333rem;
	text-align: center;
	line-height: 1.962667rem;
	z-index: 12;
}
.icon-cart-active {
	font-size: 26px!important;
	color: #666;
}
.total-box {
	width: 8rem;
	height: 100%;
	position: absolute;
	top: 0; 
	left: 3.370667rem;
	text-align: left;
	line-height: 0.6rem;
	box-sizing: border-box;
	padding-top: 0.426667rem;
}
.total-box p {
	font-size: 16px;
}
.total-box span {
	font-size: 12px;
}
.right-pay {
	width: 4.48rem;
	height: 2.048rem;
	line-height: 2.048rem;
	background: #535356;
	position: relative;
	z-index: 11;
}
.iScrollVerticalScrollbar {
	z-index: 1!important;
}
.cart-view {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: 2.048rem;
	left: 0;
	z-index: 10;
	font-style: 14px;
	display: none;
}
.cart-layer {
	background: #000;
	position: fixed;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	width: 16rem;
	height: 28.458667rem;
	display: none;
}
.cart-title {
	width: 100%;
	height: 1.706667rem;
	background: #eceff1;
	line-height: 1.706667rem;
	color: #666;
	padding-left: 0.554667rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 6;
}
.cart-list {
	width: 100%;
	padding-left: 0.554667rem;
	box-sizing: border-box;
	position: relative;
	background: #fff;
	z-index: 6;
}
.cart-list li {
	width: 100%;
	padding-right: 0.554667rem;
	box-sizing: border-box;
	height: 2.261333rem;
	line-height: 2.261333rem;
	color: #333;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.021333rem solid #fbfbfb;
}
.cart-list li p:first-child {
	width: 9.3rem;
	text-align: left;
}
.cart-list li p:nth-of-type(2) {
	width: 2.218667rem;
	text-align: left;
	color: #f60;
}
.cart-list li p:nth-of-type(2) span {
	font-size: 16px;
	font-weight: bold;
}
.cart-list li p:last-child {
	flex: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0.7rem 0.4rem 0;
	box-sizing: border-box;
}
.cart-list .num {
	bottom: 0.8rem;
	left: 1.26rem;
}

.food-box {
	width: 100%;
	height: 2.261333rem;	
	line-height: 2.261333rem;
	padding-left: 0.554667rem;
	box-sizing: border-box;
	color: #333;
	display: flex;
	text-align: left;
	position: relative;
	background: #fff;
	z-index: 6;
}
.food-box p:first-child {
	width: 9.557333rem;
}
.food-box p:last-child {
	flex: 1;
	text-align: left;
	color: #f60;
}
.food-box p:last-child span {
	font-size: 16px;
	font-weight: bold;
}

